{% extends "club_base.html" %}


{% block club_name %}
{{ club_info.name }}
{% endblock %}


{% block exp_club %}
{{ club_info.xp }}
{% endblock %}


{% block bio_club %}
{{ club_info.bio }}
{% endblock %}


{% block buttons %}
<div class="block2" style="margin-top: 20px">
    <button class="card"
            style="top: 30px;height: 60px; width: 100px; justify-content: center; vertical-align: center">
        <h1 style="bottom: 5px;font-size: 12px; color: #7a9a8a;position: relative; z-index: 2">
            Пригласить друга</h1>
    </button>
    {% if user_info.role == "admin" %}
    <button class="card" onclick=GetStatistics()
            style="top: 80px;height: 60px; width: 100px; justify-content: center; vertical-align: center">
        <h1 style="bottom: 5px;font-size: 12px; color: #7a9a8a;position: relative; z-index: 2">
            Получить статистику</h1>
    </button>
</div>
{% endblock %}


{% block href_main %}
<a href="/pages/main_user/{{user_info.id}}" style="text-decoration: none">
    <button class="btn_GoToTheClub" type="button" style="margin-top: 20px">
        <strong>На главную</strong>
        <div id="container-stars">
            <div id="stars"></div>
        </div>
        <div id="glow">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </button>
</a>
{% endblock %}


{% block club_users %}
{% for user in users %}
<div class="card"
     style="margin-top: 5px;left: 20px;height: 30px; width: 350px; justify-content: center;display: flex">
    <h1 style="text-align: left; width: 50%; font-size: 14px; color: #7a9a8a;position: relative; z-index: 2">
        {{ user.username }} {{ user.role }}
    </h1>


    {% if user_info.role == "admin" and user.role == "member" %}
    <button type="button" class="Kick" id="Kick_{{ user.user_id }}" style="margin-top: 5px;height: 20px; width: 80px;"
            onclick="Kick('{{user.user_id}}')">Выгнать
    </button>


    {% elif user_info.role == "owner" and user.role == "member" %}
    <button type="button" class="Promote" id="Update_{{ user.user_id }}"
            style="font-size: 10px;margin-top: 5px;height: 20px; width: 80px;"
            onclick="Update('{{user.user_id}}')">Повысить
    </button>
    <button type="button" class="Kick" id="Kick_{{ user.user_id }}" style="margin-top: 5px;height: 20px; width: 80px;"
            onclick="Kick('{{user.user_id}}')">Выгнать
    </button>

    {% elif user_info.role == "owner" and user.role == "admin" %}
    <button type="button" class="Demote" id="Update_{{ user.user_id }}"
            style="margin-top: 5px;height: 20px; width: 80px;"
            onclick="Update('{{user.user_id}}')">Понизить
    </button>
    <button type="button" class="Kick" id="Kick_{{ user.user_id }}" style="margin-top: 5px;height: 20px; width: 80px;"
            onclick="Kick('{{user.user_id}}')">Выгнать
    </button>
    {% endif %}
</div>
{% endfor %}
{% endblock %}