{% extends "club_base.html" %}


{% block level %}
<div class="experience-level">
    Level {{ user_info.xp }}
</div>
{% endblock %}


{% block name %}
<h1 id="name" style="margin-left: 12px; font-size: 15px; color: #7a9a8a">
    {{ user_info.name }} {{ user_info.surname }}
</h1>
{% endblock %}


{% block achivements %}
<h1 id="achivements" style=" font-size: 15px; color: #7a9a8a;position: relative; z-index: 2">
    <!--пока заглушка, TODO скрипт, подсвечивает достижения, которые есть--> Нет достижений
    {{ user_info.achievments }}
</h1>
{% endblock %}


{% block dob %}
<div class="form-group" style="width: 60%">
    <label for="Date of Birth">День рождения</label>
    <input required="" name="Date of Birth" id="Date of Birth" type="text" style="width: 115px"
           value="{{ user_info.dob }}" readonly>
</div>
{% endblock %}


{% block City %}
<div class="form-group">
    <label for="City">Город</label>
    <input required="" name="City" id="City" type="text" style="width: 125px" value="{{user_info.city}}" readonly>
</div>
{% endblock %}


{% block Education %}
<div class="form-group">
    <label for="Education">Образование</label>
    <input required="" name="Education" id="Education" type="text" style="width: 280px" value="{{user_info.education}}"
           readonly>
</div>
{% endblock %}


{% block UserInfo %}
<div class="form-group">
    <label for="textarea">О себе</label>
    <textarea required="" cols="50" rows="10" id="textarea" name="bio"
              style="width: 280px; height: 80px" readonly>
        {{ user_info.bio }}
    </textarea>
</div>
{% endblock %}
