<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css_js/history_base_style.css">
    <title></title>
</head>
<body>
<div class="container">


    <!-- Блок "Назад" + "Магазин" + "История" -->
    {% block nav %}{% endblock %}


    <!-- "История" -->
    {% block hist %}{% endblock %}


</div>
<script src="https://telegram.org/js/telegram-web-app.js"></script>
<script src="/css_js/history_base_script.js"></script>
</body>
</html>
