{% extends "main_base.html" %}


{% block club_name %}
<a href="/pages/club_user/{{user_info.id}}" style="text-decoration: none; color: #000000">
    <div class="logo-container">
        <span class="site-name">{{ club_info.name }}</span>
    </div>
</a>
{% endblock %}


{% block exp_club %}
{{ club_info.xp }}
{% endblock %}


{% block user_status %}
<!-- "Перейти в профиль" -->
<a href="/pages/profile_user/{{user_info.id}}" style="text-decoration: none">
    <button class="Btn" style="height: 60px; width: 160px; justify-content: center">
        <h1 style="bottom: 7px;font-size: 14px; position: relative; z-index: 2">
            {{ user_info.surname }}</h1>
        <h1 style="bottom: 7px; font-size: 10px; position: relative; z-index: 2">
            {{ user_x_club_info.role }}</h1>
    </button>
</a>
{% endblock %}


{% block href_search %}
<!--"Сменить клуб"-->
<a href="/pages/search_user/{{user_info.id}}" style="text-decoration: none">
    <button class="Btn" style="height: 60px; width: 160px; justify-content: center">
        <h1 style="bottom: 5px;font-size: 14px; position: relative; z-index: 2">
            Сменить клуб</h1>
    </button>
</a>
{% endblock %}


{% block money %}
{{ user_x_club_info.balance }}
{% endblock %}


{% block content %}
{% if user_x_club_info.role != "member" %}
<div class="card"
     style="left: 50px;height: 50px; width: 290px; justify-content: center;display: flex">
    <button type="button" class="BeginEvent" id="BeginEvent" onclick=Begin()>
        Создать событие
    </button>
    <button type="button" class="CloseEvent" id="CloseEvent" onclick=Close() style="display: none">
        Отмена
    </button>
</div>
<div class="form-container" id="CreateEventForm" style="margin-top: 30px; display: none">
    <form class="form">
        <div style="margin-top: 5px;display: flex; justify-content: center">
            <div class="form-group">
                <input required="" placeholder="Введите название" name="NameEvent" id="NameNewEvent" type="text"
                       style="width: 150px; height: 15px">
            </div>
        </div>
        <div style="display: flex">
            <div class="form-group" style="width: 60%">
                <label>Дата</label>
                <input required="" name="Date" id="DateNewEvent" type="text" style="width: 115px">
            </div>
            <div class="form-group">
                <label>Спикер</label>
                <input required="" name="Speaker" id="SpeakerNewEvent" type="text" style="width: 125px">
            </div>
        </div>
        <div class="form-group">
            <label>О событии</label>
            <textarea required="" cols="50" rows="10" name="textarea" id="SinopsisNewEvent"
                      style="width: 280px; height: 80px"></textarea>
        </div>
        <!-- У админов/владельца кнопки для редактирования и завершения события -->
        <div style="display: flex; justify-content: center">
            <!-- "Создать событие" -->
            <div style="width: 70%; text-align: center">
                <button type="button" class="CreateEvent"
                        onclick="CreateEvent()">Создать событие
                </button>
            </div>
        </div>
    </form>
</div>

{% for event in events %}
<!--события-->
<div class="form-container" style="margin-top: 30px">
    <form class="form" id="form">
        <h1 id="Name_{{event.id}}" style="font-size: 15px;position: relative; z-index: 2">{{ event.name }}</h1>
        <div style="display: flex">
            <div class="form-group" style="width: 60%">
                <label for="Date_{{event.id}}">Дата</label>
                <input required="" name="Date" id="Date_{{event.id}}" type="text" style="width: 115px"
                       value="{{event.date}}" readonly>
            </div>
            <div class="form-group">
                <label for="Speaker_{{event.id}}">Спикер</label>
                <input required="" name="Speaker" id="Speaker_{{event.id}}" type="text" style="width: 125px"
                       value="{{event.speaker}}"
                       readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="textarea_{{event.id}}">О событии</label>
            <textarea required="" cols="50" rows="10" id="textarea_{{event.id}}" name="textarea"
                      style="width: 280px; height: 80px" readonly>{{ event.sinopsis }}</textarea>
        </div>


        <!-- У админов/владельца кнопки для редактирования и завершения события -->
        <div style="display: flex; justify-content: center">
            <!-- "Изменить" -->
            <div class="block5" style="width: 50%; text-align: center">
                <button type="button" class="EditEvent" id="EditEvent_{{ event.id }}"
                        onclick="Edit('{{event.id}}')">Изменить
                </button>
                <button type="button" class="SaveEvent" id="SaveEvent_{{ event.id }}" style="display: none"
                        onclick="Save('{{event.id}}')">Сохранить
                </button>
            </div>
            <!-- "Завершить событие" -->
            <div class="block6" style="width: 50%; text-align: center;">
                <button type="button" class="EndEvent" id="EndEvent_{{ event.id }}"
                        onclick="End('{{event.id}}')">Завершить
                </button>
            </div>
        </div>
    </form>
</div>
{% endfor %}
{% elif user_info.exist_events == 1 and user_x_club_info.role == "member" %}
<div class="card"
     style="left: 50px;height: 50px; width: 290px; justify-content: center;display: flex">
    <h1 style="font-size: 19px; position: relative; z-index: 2">СОБЫТИЯ</h1>
</div>
{% for event in events %}
<!--события-->
<div class="form-container" style="margin-top: 30px">
    <form class="form" id="form">
        <h1 id="Name_{{event.id}}" style="font-size: 15px;position: relative; z-index: 2">{{ event.name }}</h1>
        <div style="display: flex">
            <div class="form-group" style="width: 60%">
                <label for="Date_{{event.id}}">Дата</label>
                <input required="" name="Date" id="Date_{{event.id}}" type="text" style="width: 115px"
                       value="{{event.date}}" readonly>
            </div>
            <div class="form-group">
                <label for="Speaker_{{event.id}}">Спикер</label>
                <input required="" name="Speaker" id="Speaker_{{event.id}}" type="text" style="width: 125px"
                       value="{{event.speaker}}"
                       readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="textarea_{{event.id}}">О событии</label>
            <textarea required="" cols="50" rows="10" id="textarea_{{event.id}}" name="textarea"
                      style="width: 280px; height: 80px" readonly>{{ event.sinopsis }}</textarea>
        </div>


        <!-- У участников только кнопка для участия в событии -->
        {% if event.reg == true %}
        <button type="button" class="DisregEvent" id="DisregEvent_{{ event.id }}" onclick="Disreg('{{event.id}}')">Не
            участвовать
        </button>
        <button type="button" class="RegEvent" id="RegEvent_{{ event.id }}" style="display: none"
                onclick="Reg('{{event.id}}')">Участвовать
        </button>
        {% else %}
        <button type="button" class="RegEvent" id="RegEvent_{{ event.id }}" onclick="Reg('{{event.id}}')">
            Участвовать
        </button>
        <button type="button" class="DisregEvent" id="DisregEvent_{{ event.id }}" style="display: none"
                onclick="Disreg('{{event.id}}')">Не участвовать
        </button>
        {% endif %}
    </form>
</div>
{% endfor %}
{% else %}
<div class="card"
     style="left: 50px;height: 50px; width: 290px; justify-content: center;display: flex">
    <h1 style="font-size: 19px; position: relative; z-index: 2">У ВАС НЕТ СОБЫТИЙ</h1>
</div>
{% endif %}
{% endblock %}
