<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css_js/main_base_style.css">
    <title></title>
</head>
<body>

<div class="container">


    <!-- кнопка клуба + кубки клуба + кликабельно-->
    <nav>
        {% block club_name %}{% endblock %}
        <div class="image-container" style="display: flex; align-items: center">
            <span style="display: inline-block; text-align: center; flex-grow: 1">{% block exp_club %}{% endblock %}
            </span>
            <img style="display: inline-block; vertical-align: middle; float: right" src="/images/exp.png"
                 alt="Иконка">
        </div>
    </nav>


    <div style="display: flex; justify-content: center">


        <!-- Имя, статус + переход в профиль-->
        <div class="block1" style="margin-top: 20px; margin-left: 15px">
            {% block user_status %}{% endblock %}
        </div>


        <!-- Кнопка "Сменить клуб"-->
        <div class="block1" style="margin-top: 20px">
            {% block href_search %}{% endblock %}
        </div>
    </div>


    <div style="margin-top: 40px">
    </div>


    <!-- inline, 3 блока:-->
    <div class="card"
         style="left: 10px;height: 120px; width: 370px; justify-content: center; vertical-align: center;display: flex">


        <!-- блок 1: магазин, картинка магаза, навожусь, там ссылка, надпись "магазин" (пока нерабочая)-->
        <div class="block2" style="margin-top: 20px; margin-left: 5px">
            <button class="Btn"
                    style="z-index: 2;height: 80px; width: 115px; justify-content: center; vertical-align: center">
                <h1 style="bottom: 5px;font-size: 15px; position: relative; z-index: 2">
                    Магазин</h1>
            </button>
        </div>


        <!-- блок 2: деньги, картинка денег, навожусь, вижу, сколько у меня валюты-->
        <div class="block3" style="margin-top: 20px">
            <button class="Btn"
                    style="z-index: 2;height: 80px; width: 115px; justify-content: center; vertical-align: center">
                <h1 style="bottom: 5px;font-size: 15px; position: relative; z-index: 2">
                    Баланс</h1>
                <h1 style="bottom: 5px;font-size: 15px; position: relative; z-index: 2">
                    {% block money %}{% endblock %}</h1>
            </button>
        </div>


        <!-- блок 3: ссылка в канал/чат клуба-->
        <div class="block4" style="margin-top: 20px">
            {% block channel %}{% endblock %}
        </div>
    </div>


    <div style="margin-top: 40px">
    </div>


    <!-- "События" + перечисление событий-->
    {% block content %}{% endblock %}


</div>
<script src="https://telegram.org/js/telegram-web-app.js"></script>
<script src="/css_js/main_base_script.js"></script>
</body>
</html>
