{% extends "main_base.html" %}


{% block club_name %}
{{ club_info.name }}
{% endblock %}


{% block exp_club %}
{{ club_info.exp }}
{% endblock %}


{% block user %}
{{ user_info.name }} {{ user_info.surname }}
{% endblock %}


{% block status %}
{{ user_x_club_info.role }}
{% endblock %}


{% block clubs %}
<!--позже будет окно с различными клубами "Сменить клуб"-->
{% endblock %}


{% block money %}
{{ user_x_club_info.money }}
{% endblock %}


{% block content %}
{% for event in events %}
<!--события-->
{% endfor %}
{% endblock %}
