<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css_js/profile_base_style.css">
    <title></title>
</head>
<body>
<div class="container">


    <!--Уровень User-->
    <nav style="padding: 10px">
        <div style="margin-block: 10px; display: inline-block" class="experience-bar">
            {% block level %}{% endblock %}
        </div>
    </nav>


    <div style="display: flex; margin-top: 5px">
        <!--Аватарка-->
        <div class="block1" style="margin-top: 20px;">
            <div id="avatar-container" onclick="uploadAvatar()">
                <label for="avatar-input">
                    <div id="avatar-circle">
                        <span id="choose-text">Вставьте фото</span>
                        <img id="avatar-image" src="/images/placeholder.jpg" alt="Вставьте фото">
                    </div>
                </label>
                <input type="file" id="avatar-input" accept="image/*"/>
            </div>
            <center>{% block name %}{% endblock %}</center>
        </div>
        <!--Достижения-->
        <div class="block2">
            <div class="card">
                <div class="card-content" style="margin-left: 20px;padding-top: 50px">
                    {% block achivements %}{% endblock %}
                </div>
            </div>
        </div>
    </div>


    <!--Инфа о user в виде формочки-->
    <div class="form-container" style="margin-top: 35px">
        <form class="form" id="form">
            <div style="display: flex">
                {% block dob %}{% endblock %}
                {% block City %}{% endblock %}
            </div>
            {% block Education %}{% endblock %}
            {% block UserInfo %}{% endblock %}
            <button type="button" class="editBtn" onclick="editForm()">Изменить</button>
            <button type="button" class="saveBtn" style="display: none" onclick="saveUserInfo()">Сохранить</button>
        </form>
    </div>


    <!-- Кнопка "На главную" -->
    {% block href_main %}{% endblock %}


</div>
<script src="https://telegram.org/js/telegram-web-app.js"></script>
<script src="/css_js/profile_base_script.js"></script>
</body>
</html>