<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css_js/search_base_style.css">
    <title></title>
</head>
<body>

<div class="container">


    <!-- Поиск поле -->
    <input id="input_search" type="text" placeholder="Введите тэг клуба" class="text-xl">
    <!-- кнопка "искать" -->
    <button onclick= "searchClub()" class="SearchClub">Найти</button>


    <!-- Найденный клуб + "Вступить" -->
    {% block found %}{% endblock %}


    <!-- Главный клуб -->
    <div class="card"
         style="left: 70px;height: 40px; width: 250px; justify-content: center;display: flex">
        <h1 style="font-size: 18px; position: relative; z-index: 2">Главный клуб</h1>
    </div>


    <!-- Club_name + "перейти" + ссылка в main_user -->
    {% block main_club %}{% endblock %}


    <!-- Кнопка "На главную" -->
    {% block href_main %}{% endblock %}


    <!-- Другие клубы -->
    <div class="card"
         style="margin-top: 50px;left: 50px;height: 50px; width: 290px; justify-content: center;display: flex">
        <h1 style="font-size: 19px; position: relative; z-index: 2">Другие клубы</h1>
    </div>


    <!-- Club_names + "перейти" + ссылка в main_user -->
    {% block clubs_info %}{% endblock %}
</div>
<script src="https://telegram.org/js/telegram-web-app.js"></script>
<script src="/css_js/search_base_script.js"></script>
</body>
</html>
