body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.container {
    background: #ededed;
    max-width: 390px;
}

nav {
    background: linear-gradient(to bottom, lightgray, #ededed);
    padding: 10px 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    width: 120px;
    background-color: rgba(142, 130, 230, 0.63);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.logo-container span, .site-name {
    border-radius: 5px;
    padding: 5px;
}

.image-container {
    width: 90px;
    background-color: rgba(142, 130, 230, 0.63);
    padding: 5px;
    border-radius: 5px;
}

.image-container img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.Btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: #ffffff;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 700;
    animation: gradient 5s ease infinite;
    filter: drop-shadow(0px 0px 20px rgba(223, 185, 255, 0.68));
    transition: background .2s linear;
}

.Btn:hover {
    background: lightgray;
}

.card {
    position: relative;
    border-radius: 20px;
    background-color: #ffffff;
    animation: gradient 5s ease infinite;
    filter: drop-shadow(0px 0px 20px rgba(223, 185, 255, 0.68));
}

.block1 {
    width: 50%;
}

.block2 {
    width: 33%;
}

.block3 {
    width: 33%;
}

.block4 {
    width: 33%;
}

.block5 {
    width: 50%;
}

.block6 {
    width: 50%;
}

.RegEvent {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgba(85, 255, 112, 0.62);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    transition: background .2s linear;
}

.RegEvent:hover {
    background: rgb(85, 255, 112);
}

.DisregEvent {
    padding: 10px 20px;
    border: none;
    background: rgba(255, 85, 85, 0.62);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    transition: background .2s linear;
}

.DisregEvent:hover {
    background: rgb(255, 85, 85);
}

.EditEvent {
    padding: 10px 20px;
    border: none;
    background: rgba(117, 203, 255, 0.62);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    transition: background .2s linear;
}

.EditEvent:hover {
    background: rgb(117, 203, 255);
}

.SaveEvent {
    padding: 10px 20px;
    border: none;
    background: rgba(117, 203, 255, 0.62);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    transition: background .2s linear;
}

.SaveEvent:hover {
    background: rgb(117, 203, 255);
}

.EndEvent {
    padding: 10px 20px;
    border: none;
    background: rgba(145, 56, 0, 0.62);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    transition: background .2s linear;
}

.EndEvent:hover {
    background: rgb(145, 56, 0);
}

.form-container {
    margin-left: 10px;
    width: 370px;
    height: 290px;
    background: #ffffff;
    border: 2px solid transparent;
    padding: 6px 18px;
    font-size: 9px;
    color: #7a9a8a;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 30px;
    animation: gradient 5s ease infinite;
    filter: drop-shadow(0px 0px 20px rgba(223, 185, 255, 0.68));
}

.form-container .form {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 12px;
}

.form-container .form-group input {
    width: 100%;
    padding: 4px 10px;
    border-radius: 6px;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #7c7c7c;
}

.form-container .form-group textarea {
    width: 100%;
    padding: 2px 24px;
    border-radius: 8px;
    resize: none;
    border: 1px solid #7c7c7c;
    background-color: transparent;
    font-family: inherit;
}

.form-container .form-group input:focus {
    outline: none;
    border-color: rgba(135, 29, 255, 0.72);
}

.form-container .form-group textarea:focus {
    outline: none;
    border-color: rgba(135, 29, 255, 0.72);
}

.BeginEvent{
    font-size: 16px;
    margin-top: 5px;
    vertical-align: center;
    display: inline-block;
    height: 40px;
    padding: 10px 20px;
    border: none;
    background: rgba(85, 255, 112, 0.62);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    transition: background .2s linear;
}

.BeginEvent:hover {
    background: rgb(85, 255, 112);
}

.CloseEvent{
    font-size: 16px;
    margin-top: 5px;
    vertical-align: center;
    display: inline-block;
    height: 40px;
    padding: 10px 20px;
    border: none;
    background: rgba(255, 85, 85, 0.62);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    transition: background .2s linear;
}

.CloseEvent:hover {
    background: rgb(255, 85, 85);
}

.CreateEvent{
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgba(117, 203, 255, 0.62);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    transition: background .2s linear;
}

.CreateEvent:hover {
    background: rgb(117, 203, 255);
}