body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background: #ededed;
}

.container {
    max-width: 390px;
}

.JoinClub {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgba(85, 255, 112, 0.62);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    transition: background .2s linear;
}

.JoinClub:hover {
    background: rgb(85, 255, 112);
}

.SearchClub {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgba(117, 203, 255, 0.62);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    transition: background .2s linear;
}

.SearchClub:hover {
    background: rgb(117, 203, 255);
}

.LeaveClub {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgba(255, 85, 85, 0.62);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    transition: background .2s linear;
}

.LeaveClub:hover {
    background: rgb(255, 85, 85);
}

.ChangeMainClub {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgba(117, 203, 255, 0.62);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    transition: background .2s linear;
}

.ChangeMainClub:hover {
    background: rgb(117, 203, 255);
}

.card {
    position: relative;
    border-radius: 20px;
    background-color: #ffffff;
    animation: gradient 5s ease infinite;
    filter: drop-shadow(0px 0px 20px rgba(223, 185, 255, 0.68));
}

.btn_GoToTheClub {
    margin-left: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    overflow: hidden;
    height: 50px;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#756bbc, #744bff), linear-gradient(137.48deg, #501c9b 10%, #ffa600 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}

strong {
    z-index: 2;
    font-size: 18px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
}

#glow {
    position: absolute;
    display: flex;
    width: 12rem;
}

.circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}

.circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
}

.btn_GoToTheClub:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}

.btn_GoToTheClub:hover {
    transform: scale(1.1)
}

.btn_GoToTheClub:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

.btn_GoToTheClub:active .circle {
    background: #FE53BB;
}

#stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}

#stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
}

#stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
}

#stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
}

#stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}

@keyframes animStar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-135rem) translateX(20rem);
    }
}

@keyframes animStarRotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes gradient_301 {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@keyframes pulse_3011 {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(97, 0, 255, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.block1 {
    width: 100%;
}

.block2 {
    width: 33%;
}

.block3 {
    width: 33%;
}

.form-container {
    margin-left: 10px;
    width: 370px;
    height: 90px;
    background: #ffffff;
    border: 2px solid transparent;
    padding: 6px 18px;
    font-size: 9px;
    color: #7a9a8a;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 30px;
    animation: gradient 5s ease infinite;
    filter: drop-shadow(0px 0px 20px rgba(223, 185, 255, 0.68));
}

.form-container .form {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 12px;
}

.form-container .form-group input {
    width: 100%;
    padding: 4px 10px;
    border-radius: 6px;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #7c7c7c;
}

.form-container .form-group textarea {
    width: 100%;
    padding: 2px 24px;
    border-radius: 8px;
    resize: none;
    border: 1px solid #7c7c7c;
    background-color: transparent;
    font-family: inherit;
}

.form-container .form-group input:focus {
    outline: none;
    border-color: rgba(135, 29, 255, 0.72);
}

.form-container .form-group textarea:focus {
    outline: none;
    border-color: rgba(135, 29, 255, 0.72);
}